In [4]:
import tally
import os

In [5]:
dataset = tally.DataSet("CSV data")
dataset.add_credentials(api_key=os.environ.get('tally_api_key'))
dataset.use_csv('data/Example Data (A) - CSV Excel export.csv')

In [6]:
dataset.meta(variable='locality')

   codes                            texts missing
1      1  CBD (central business district)    None
2      2                           Remote    None
3      3                            Rural    None
4      4                         Suburban    None
5      5                            Urban    None

In [7]:
derive_conditions = [
    (1, "Urban", {'locality':[1,4,5]}),
    (2, "Rural", {'locality':[2,3]})
]
column = dataset.derive(name='urban', label='Urban or rural', cond_map=derive_conditions, qtype="single")

In [8]:
dataset.crosstab(x='urban', ci=['c%'])

Question                       Total
Values                         Total
Question              Values
urban. Urban or rural Base    8078.0
                      Urban     80.8
                      Rural     19.2

In [9]:
scheme={
            'urban':{1:75.0, 2:25.0},
            'gender':{1:49.0, 2:51.0}
        }
result = dataset.weight(name='Gender and urban', variable='weight_c', unique_key='resp_id', scheme=scheme)

In [11]:
dataset.crosstab(x='urban', ci=['c%'], w='weight_c')

Question                       Total
Values                         Total
Question              Values
urban. Urban or rural Base    8078.0
                      Urban     75.0
                      Rural     25.0

In [22]:
dataset.crosstab(x='q1', y=['gender', 'locality'], ci=['counts', 'c%'], sig_level=[0.1], w='weight_c', base='both').fillna('')

Question                                        gender.           \
Values                                            Female    Male
Test-IDs                                               A       B
Question Values
q1.      Unweighted base                          4303.0  3952.0
         Base                                     4054.2  4200.8
         Aerobics                                 1471.2  1518.6
                                                    36.3    36.2
         0.1
         Basketball                                 61.5    70.6
                                                     1.5     1.7
         0.1
         Football (soccer)                         424.7   478.7
                                                    10.5    11.4
         0.1
         Hockey                                      0.9     3.0
                                                     0.0     0.1
         0.1
         I regularly change my fitness activity     62.5    42.4
                                                     1.5     1.0
         0.1                                           B
         Lifting weights                          1131.9  1161.1
                                                    27.9    27.6
         0.1
         Not applicable - I don't exercise         177.2   198.8
                                                     4.4     4.7
         0.1
         Other                                      47.6    42.3
                                                     1.2     1.0
         0.1
         Pilates                                   264.3   212.6
                                                     6.5     5.1
         0.1                                           B
         Running/jogging                           181.2   217.7
                                                     4.5     5.2
         0.1
         Swimming                                  137.9   153.7
                                                     3.4     3.7
         0.1
         Yoga                                       93.4   101.2
                                                     2.3     2.4
         0.1

Question                                                             locality.   \
Values                                          CBD (central business district)
Test-IDs                                                                      C
Question Values
q1.      Unweighted base                                                 3106.0
         Base                                                            2887.7
         Aerobics                                                        1116.8
                                                                           38.7
         0.1                                                                D.G
         Basketball                                                        40.4
                                                                            1.4
         0.1
         Football (soccer)                                                293.4
                                                                           10.2
         0.1
         Hockey                                                             1.9
                                                                            0.1
         0.1
         I regularly change my fitness activity                            40.5
                                                                            1.4
         0.1                                                                  F
         Lifting weights                                                  777.3
                                                                           26.9
         0.1
         Not applicable - I don't exercise                                100.6
                                                                            3.5
         0.1
         Other                                                             33.9
                                                                            1.2
         0.1
         Pilates                                                          142.1
                                                                            4.9
         0.1
         Running/jogging                                                  146.2
                                                                            5.1
         0.1
         Swimming                                                         130.0
                                                                            4.5
         0.1                                                            D.E.F.G
         Yoga                                                              64.7
                                                                            2.2
         0.1

Question                                                                 \
Values                                           Remote  Rural Suburban
Test-IDs                                              D      E        F
Question Values
q1.      Unweighted base                          829.0  718.0   1180.0
         Base                                    1079.6  939.9   1092.5
         Aerobics                                 350.3  353.5    402.1
                                                   32.4   37.6     36.8
         0.1                                               D.G        D
         Basketball                                15.8   20.0     22.2
                                                    1.5    2.1      2.0
         0.1
         Football (soccer)                        129.5  112.8    121.3
                                                   12.0   12.0     11.1
         0.1
         Hockey                                     0.0    0.0      1.0
                                                    0.0    0.0      0.1
         0.1
         I regularly change my fitness activity    20.3   13.2      8.4
                                                    1.9    1.4      0.8
         0.1                                        F.G
         Lifting weights                          316.8  228.9    297.0
                                                   29.3   24.4     27.2
         0.1                                          E
         Not applicable - I don't exercise         55.4   57.2     35.9
                                                    5.1    6.1      3.3
         0.1                                        C.F    C.F
         Other                                      7.9   11.2     12.1
                                                    0.7    1.2      1.1
         0.1
         Pilates                                   66.3   61.7     75.3
                                                    6.1    6.6      6.9
         0.1                                                 C        C
         Running/jogging                           58.6   38.4     51.3
                                                    5.4    4.1      4.7
         0.1
         Swimming                                  33.7   19.6     34.6
                                                    3.1    2.1      3.2
         0.1
         Yoga                                      25.1   23.3     31.3
                                                    2.3    2.5      2.9
         0.1

Question
Values                                            Urban
Test-IDs                                              G
Question Values
q1.      Unweighted base                         2245.0
         Base                                    2078.3
         Aerobics                                 711.1
                                                   34.2
         0.1
         Basketball                                32.8
                                                    1.6
         0.1
         Football (soccer)                        224.5
                                                   10.8
         0.1
         Hockey                                     1.0
                                                    0.0
         0.1
         I regularly change my fitness activity    20.4
                                                    1.0
         0.1
         Lifting weights                          619.0
                                                   29.8
         0.1                                        C.E
         Not applicable - I don't exercise        121.9
                                                    5.9
         0.1                                        C.F
         Other                                     22.7
                                                    1.1
         0.1
         Pilates                                  116.4
                                                    5.6
         0.1
         Running/jogging                           96.4
                                                    4.6
         0.1
         Swimming                                  66.8
                                                    3.2
         0.1
         Yoga                                      45.2
                                                    2.2
         0.1