In [1]:
import tally
import os

In [16]:
dataset = tally.DataSet("CSV data")
dataset.add_credentials(api_key=os.environ.get('tally_api_key'))
dataset.use_csv('data/Example Data (A) - CSV Excel export.csv')

In [17]:
dataset.meta(variable='locality')

   codes                            texts missing
1      1  CBD (central business district)    None
2      2                           Remote    None
3      3                            Rural    None
4      4                         Suburban    None
5      5                            Urban    None

In [18]:
derive_conditions = [
    (1, "Urban", {'locality':[1,4,5]}),
    (2, "Rural", {'locality':[2,3]})
]
column = dataset.derive(name='urban', label='Urban or rural', cond_map=derive_conditions, qtype="single")

In [19]:
dataset.crosstab(x='urban', ci=['c%'])

Question                       Total
Values                         Total
Question              Values
urban. Urban or rural Base    8078.0
                      Urban     80.8
                      Rural     19.2

In [20]:
scheme={
            'urban':{1:75.0, 2:25.0},
            'gender':{1:49.0, 2:51.0}
        }
result = dataset.weight(name='Gender and urban', variable='weight_c', unique_key='resp_id', scheme=scheme)

In [24]:
dataset.crosstab(x='urban', ci=['c%'])

Question                       Total
Values                         Total
Question              Values
urban. Urban or rural Base    8078.0
                      Urban     80.8
                      Rural     19.2

In [25]:
dataset.crosstab(x='urban', ci=['c%'], w='weight_c')

Question                       Total
Values                         Total
Question              Values
urban. Urban or rural Base    8078.0
                      Urban     75.0
                      Rural     25.0

In [6]:
dataset.crosstab(x='q2', y=['gender', 'locality'], ci=['counts', 'c%'])

Question                             gender.           \
Values                                 Female    Male
Question Values
q2.      Base                          1561.0  1438.0
         Base jumping;                  104.0   101.0
                                          6.7     7.0
         Base jumping;Kite boarding;     13.0    17.0
                                          0.8     1.2
...                                       ...     ...
                                          0.0     0.1
         Snowboarding;                    4.0     6.0
                                          0.3     0.4
         Snowboarding;Parachuting;        2.0     1.0
                                          0.1     0.1

Question                                                  locality.          \
Values                               CBD (central business district) Remote
Question Values
q2.      Base                                                 1200.0  271.0
         Base jumping;                                          85.0   14.0
                                                                 7.1    5.2
         Base jumping;Kite boarding;                            12.0    2.0
                                                                 1.0    0.7
...                                                              ...    ...
                                                                 0.0    0.4
         Snowboarding;                                           5.0    1.0
                                                                 0.4    0.4
         Snowboarding;Parachuting;                               0.0    1.0
                                                                 0.0    0.4

Question
Values                                Rural Suburban  Urban
Question Values
q2.      Base                         270.0    435.0  767.0
         Base jumping;                 16.0     35.0   52.0
                                        5.9      8.0    6.8
         Base jumping;Kite boarding;    2.0      7.0    5.0
                                        0.7      1.6    0.7
...                                     ...      ...    ...
                                        0.0      0.0    0.0
         Snowboarding;                  0.0      3.0    1.0
                                        0.0      0.7    0.1
         Snowboarding;Parachuting;      0.0      1.0    1.0
                                        0.0      0.2    0.1

[127 rows x 7 columns]