In [1]:
import tally
import os

In [2]:
keys = {
    'tally': os.environ.get('tally_api_key')
}

In [5]:
dataset = tally.DataSet(api_key=keys['tally'])
dataset.use_unicom('data/Example_Museum.mdd', 'data/Example_Museum.ddf')

In [20]:
variables = dataset.variables()
variables['array']

['order.order_grid',
 'rating.rating_grid',
 'plan_order.plan_order_grid',
 'rating_ent.rating_ent_grid']

In [21]:
dataset.crosstab(x='rating_ent.rating_ent_grid', ci=['c%'])

Question                                            Total  \
Values                                               Base
Array                           Questions
rating_ent.rating_ent_grid. Q46 Dinosaurs             0.0
                                Conservation         56.0
                                Fish and reptiles   111.0
                                Fossils              65.0
                                Birds                94.0
                                Insects              79.0
                                Whales                0.0
                                Mammals               0.0
                                Minerals             86.0
                                Ecology              28.0
                                Botany               55.0
                                Origin of species   102.0
                                Human biology       123.0
                                Evolution           117.0
                                Wildlife in danger   32.0

Question                                           rating_ent.rating_ent_grid. Q46  \
Values                                                   Not at all interested (1)
Array                           Questions
rating_ent.rating_ent_grid. Q46 Dinosaurs                                      NaN
                                Conservation                                   5.4
                                Fish and reptiles                              5.4
                                Fossils                                        9.2
                                Birds                                          9.6
                                Insects                                       16.5
                                Whales                                         NaN
                                Mammals                                        NaN
                                Minerals                                      15.1
                                Ecology                                       10.7
                                Botany                                        20.0
                                Origin of species                              3.9
                                Human biology                                  3.3
                                Evolution                                     10.3
                                Wildlife in danger                             0.0

Question                                                                            \
Values                                             Not particularly interested (2)
Array                           Questions
rating_ent.rating_ent_grid. Q46 Dinosaurs                                      NaN
                                Conservation                                   3.6
                                Fish and reptiles                              4.5
                                Fossils                                        1.5
                                Birds                                          8.5
                                Insects                                        2.5
                                Whales                                         NaN
                                Mammals                                        NaN
                                Minerals                                       7.0
                                Ecology                                        0.0
                                Botany                                         5.5
                                Origin of species                              3.9
                                Human biology                                  4.1
                                Evolution                                      1.7
                                Wildlife in danger                             3.1

Question                                                           \
Values                                             No opinion (3)
Array                           Questions
rating_ent.rating_ent_grid. Q46 Dinosaurs                     NaN
                                Conservation                 12.5
                                Fish and reptiles            25.2
                                Fossils                      23.1
                                Birds                        19.1
                                Insects                      22.8
                                Whales                        NaN
                                Mammals                       NaN
                                Minerals                     16.3
                                Ecology                      17.9
                                Botany                       23.6
                                Origin of species            15.7
                                Human biology                13.8
                                Evolution                    15.4
                                Wildlife in danger            6.2

Question                                                                    \
Values                                             Slightly interested (4)
Array                           Questions
rating_ent.rating_ent_grid. Q46 Dinosaurs                              NaN
                                Conservation                          53.6
                                Fish and reptiles                     40.5
                                Fossils                               38.5
                                Birds                                 34.0
                                Insects                               34.2
                                Whales                                 NaN
                                Mammals                                NaN
                                Minerals                              29.1
                                Ecology                               35.7
                                Botany                                25.5
                                Origin of species                     28.4
                                Human biology                         27.6
                                Evolution                             35.0
                                Wildlife in danger                    50.0

Question
Values                                             Very interested (5)
Array                           Questions
rating_ent.rating_ent_grid. Q46 Dinosaurs                          NaN
                                Conservation                      25.0
                                Fish and reptiles                 24.3
                                Fossils                           27.7
                                Birds                             28.7
                                Insects                           24.1
                                Whales                             NaN
                                Mammals                            NaN
                                Minerals                          32.6
                                Ecology                           35.7
                                Botany                            25.5
                                Origin of species                 48.0
                                Human biology                     51.2
                                Evolution                         37.6
                                Wildlife in danger                40.6

In [22]:
variables['single']

['age',
 'before',
 'biology',
 'expect',
 'gen_ent',
 'gender',
 'oth_mus',
 'plan',
 'prefer',
 'school',
 'signs',
 'similar',
 'entrance',
 'education',
 'who_with',
 'grp_type',
 'group_org',
 'resident',
 'distance',
 'interview',
 'time_spent',
 'long_short',
 'interest',
 'desc_leave',
 'when_decid',
 'why_decid',
 'plan_time',
 'plan_none',
 'know_way',
 'visothers']

In [27]:
questions = [ 
 'before',
 'biology',
 'expect',
 'gen_ent',
  'oth_mus',
 'plan',
 'prefer',
 'signs',
 'similar',
 'entrance',
 'time_spent',
 'desc_leave',
 'when_decid',
  'interest',
 'long_short',
 'distance'
]
crosstabs = [
 'gender',
 'education',
 'age',
 'who_with',
 'grp_type',
 'group_org',
 'resident'
 ]

In [33]:
dataset.build_powerpoint(filename='powerpoint_output/unicom.pptx', 
                         powerpoint_template='pptx_templates/Datasmoothie_Template.pptx',
                         x=questions,
                         y=['@'] + crosstabs)

In [31]:
dataset.build_excel(filename='excel_output/unicom.xlsx', 
                         x=questions,
                         y=crosstabs,
                         sig_level=[0.05])